body{
    color: black;
    background-color: #282b30 !important;
    height: 100vh;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
}

.currenciesContainer, .chartsContainer, .addContainer{
    width: 96vw !important;
}

.topnavbar{
    width: 100%;
    color: #3498db;
    height: 50px;
    background: #424549;
    margin: 24px;
    border-radius: 4px;
}

.switchBtn{
    width: 80%;
    background-color: #192a56;
    border: 1px solid black;
    color: #fff !important;
}

.on{
    background-color: #6ab04c !important;
    border: 1px solid black;
}

.card
{
    margin: auto;
    margin-bottom: 32px;
    text-align: center;
    padding: 16px;
}

.card-add
{
    min-height: 80px;
    box-shadow: 8px 8px 0 rgba(0,0,0,0.4);
    border-radius: 8px;
    font-size: 2em;
    vertical-align: center;
}

.card-up{
    border : 8px solid #2ecc71;
}

.card-down{
    border : 8px solid #e74c3c;
}

.card-stay{
    border : 8px solid #2c3e50;
}

.currencies .col-md-4 .card{
    height: 192px;
}

.chart{
    height: 300px;
}

.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gauge-cont
{
    margin-top:70px;
}