
<template name="topnavbar">
    <nav class="topnavbar row">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>{{>serverStatus}}</li>
            </ul>
        </div>
    </nav>
</template>

<template name="serverStatus">
    {{#with status}}
        <a class="{{class}}">
            {{text}}
        </a>
    {{/with}}
</template>

<template name="data">
    {{>currencies}}
</template>

<template name="currencies">
    {{#with value}}
        <div class="currencies row">
            <div class="col-md-4">
                <div class="card card-{{evoBTC}}">
                    <h2>BITCOIN</h2>
                    <h1>{{vBTC}} EUR</h1>
                    <h4>{{dBTC}}</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-{{evoETH}}">
                    <h2>ETHERUM</h2>
                    <h1>{{vETH}} EUR</h1>
                    <h4>{{dETH}}</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-{{evoLTC}}">
                    <h2>LITECOIN</h2>
                    <h1>{{vLTC}} EUR</h1>
                    <h4>{{dLTC}}</h4>
                </div>
            </div>
        </div>
    {{/with}}
</template>

<template name="charts">

</template>

<template name="addChart">
    {{#with switch}}
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
                <div class="card card-add">
                        <input id="selectBTC" class="switchBtn" value="BTC" type="button">
                        <input id="selectETH" class="switchBtn" value="ETH" type="button">
                        <input id="selectLTC" class="switchBtn" value="LTC" type="button">
                </div>
            </div>
            <div class="col-lg-4">
                <button id="addChartBtn" class="card card-add">
                    +
                </button>
            </div>
            <div class="col-lg-2">
                <div class="card card-add">
                    <input id="selectChart" class="switchBtn" value="chart" type="button">
                    <input id="selectJauge" class="switchBtn" value="jauge" type="button">
                    <input id="selectKPI" class="switchBtn"  value="kpi" type="button">
                </div>
            </div>
        </div>
    {{/with}}
</template>


<template name="row2">
    <div class="row-fluid">
        <div class="col-lg-5 gauge-cont">
            <div class="card">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <canvas id="myChart"></canvas>
            </div>
        </div>

        <div class="col-lg-3 gauge-cont">
            <div class="card flex-center">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">Card title</h5>
                    <canvas style="margin:auto;" id="foo"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-2 gauge-cont">
            <div>
                <div class="card" style="width: auto;">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Card title</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<template name="row3">
    <div class="row">
        <div class="col-lg-6 gauge-cont">
            <div class="card">
                <canvas id="myChart2"></canvas>
            </div>
        </div>

        <div class="col-md-6 gauge-cont">
            <div class="card">
                <canvas id="line-chart"></canvas>
            </div>
        </div>
    </div>
</template>