<head>
  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <!-- Bootstrap Material Design -->
  <link rel="stylesheet" type="text/html" href="dist/css/bootstrap-material-design.css">
  <link rel="stylesheet" type="text/html" href="dist/css/ripples.min.css">

  <title>DashBoard</title>
</head>

<body>
  <div class="currenciesContainer container-fluid">
      {{>topnavbar}}
      {{>data}}
  </div>
  <div id="chartsContainer" class="container-fluid">
      {{>charts}}
  </div>
  <div id="addContainer" class="container-fluid">
      {{>addChart}}
  </div>
</body>

